<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="logo.png" alt="" width="60" height="50">Paws n' Whiskers
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="home-link" class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a id="services-link" class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a id="news-link" class="nav-link" href="/news">News</a>
          </li>
          <li class="nav-item">
            <a id="contact-link" class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a id="login-link" class="nav-link" href="/login">Login/Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<style>
  .navbar {
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    
    
  }
  .navbar-brand {
    color: #48C5B5;
  }
  .nav-link:hover {
    color: #48C5B5;
  }
  .nav-link.active {
    color: #48C5B5;
    font-weight: bold;
  }
</style>

<script>
    function setActiveLink() { //function that sets the active link color and class based on the page we are on
      const path = window.location.pathname;
      const homeLink = document.querySelector('#home-link');
      const servicesLink = document.querySelector('#services-link');
      const newsLink = document.querySelector('#news-link');
      const contactLink = document.querySelector('#contact-link');
      const loginLink = document.querySelector('#login-link');
      const activeLink = '#48C5B5';

      if (path === '/') {
        homeLink.classList.add('active');
        homeLink.style.color = activeLink;
      } else if (path === '/services') {
        servicesLink.classList.add('active');
        servicesLink.style.color = activeLink;
      } else if (path === '/news') {
        newsLink.classList.add('active');
        newsLink.style.color = activeLink;
      } else if (path === '/contact') {
        contactLink.classList.add('active');
        contactLink.style.color = activeLink;
      } else if (path === '/login') {
        loginLink.classList.add('active');
        loginLink.style.color = activeLink;
      }
    }
    setActiveLink();
    
</script>