<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>
<body>
    <h1>Error</h1>
    <h2><%= error %></h2>
    <%- include('../partials/footer.ejs'); %>
</body>
</html>
    